div {
    border: solid black;
    background-color: red;
    width: 300px;
    height: 20vh;
    margin: 4px 3%;
    padding: 0;
  }
  
  @media screen and (max-width: 1200px) {
    div {
      border: dotted black;
      background-color: green;
      width: 20%;
      height: 100px;
      margin: 10px 6%;
      padding: 9px;
    }
  }
  
  @media screen and (max-width: 500px) {
    div {
      border: solid rgb(114, 3, 3);
      background-color: green;
      width: 20%;
      height: 100px;
      margin: 0;
      padding: 0 9px 0 0;
    }
  }